streamlit==1.42.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
xgboost==2.1.2
tensorflow==2.18.0
joblib==1.4.2
h5py==3.11.0
pillow==10.4.0
opencv-python-headless==4.10.0.84
requests==2.32.3
geocoder==1.38.1
pytesseract==0.3.13
